<!-- This file overrides the default at https://github.com/chrisrhymes/bulma-clean-theme/blob/master/_includes/footer.html -->
<!-- This file is modified from https://github.com/chrisrhymes/bulma-clean-theme/blob/master/_includes/footer.html to remove the attribution in the footer; attribution is covered in the Credits page of this website. -->
<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</footer>