---
---
// Primary color
$primary: #67B3FB;
$link: #67B3FB;

// Import Main CSS file from theme
@import "main";

// Web Fonts
@font-face {
font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 400;
src: url('../../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff2') format('woff2'),
}
@font-face {
font-family: 'Atkinson Hyperlegible';
font-style: normal;
font-weight: 700;
src: url('../../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff2') format('woff2'),
}
@font-face {
font-family: 'Figtree';
font-style: normal;
font-weight: 400;
src: url('../../fonts/Figtree/Figtree-Regular.woff2') format('woff2'),
}
@font-face {
font-family: 'Figtree';
font-style: normal;
font-weight: 700;
src: url('../../fonts/Figtree/Figtree-Bold.woff2') format('woff2'),
}

body {
font-family: 'Atkinson Hyperlegible', Sans-Serif;
}
h1, h2, h3, h4, h5 {
font-family: 'Figtree', Sans-Serif;
}
.subtitle {
font-family: 'Figtree', Sans-Serif;
}
